<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href='/contactstyle.css' >
  </head>
  <body>


        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class='container-fluid'>
            <div class='navbar-header'>
              <a class=" navbar-brand" href='/'>LIVEIT</a>
            </div>

            <ul class="nav navbar-nav">
              <li><a href="/contact" class="">Contact</a></li>
            </ul>
          </div>
        </nav>



    <div class='center'>
    <h1>Contact LiveIt</h1>
    <h3>For any help or queries you can contact LiveIt at the following social Media </h3>
    <h3> Instagram : <a  href="https://www.instagram.com/live_it_21/">LiveIt --Instagram</a></h3>
    <h3>Gmail  : liveit2019@gmail.com </h3>
    <h3>phone  +91 8220324266 (or) +91 8825994049 </h3>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </body>
</html>
