<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href="/artiststyle.css" type='text/css'>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class='container-fluid'>
        <div class='navbar-header'>
          <a class=" navbar-brand"href='/'>LIVEIT</a>
        </div>

        <ul class="nav navbar-nav">

          <li><a href="" class="">contact</a></li>
        </ul>
      </div>
    </nav>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-lg-4' id='col1'> <h5>(.) Song Title:God's plan<br><br>
                                               (.) Released  :January 19 2018<br><br>
                                               (.) Genre     :pop, pop-rap<br><br>
                                               (.) Length    : 3:18mins<br><br>
                                               (.) Writer(s) :Aubrey, Ronlad ,Noah                           </h5></div>
          <div class='col-lg-8' id='col2'><a href='/god'><button type='button' class='glyphicon glyphicon-play-circle btn btn-lg btn-primary'> Play</button></a>     Drake -God's plan mp3/320kbs ultra hd</div>
        </div>

        <div class='row'>
          <div class='col-lg-4' id='col1'><h5>(.) Song Title:Love the way you lie<br><br>
                                               (.) Released  :June 25 2010<br><br>
                                               (.) Genre     :Hiphop<br><br>
                                               (.) Length    : 4:23 mins<br><br>
                                               (.) Writer(s) :Eminem,Alex da kid ,skylar Grey                           </h5> </div>
          <div class='col-lg-8' id='col2'><a href="/lovet"><button type='button' class=" glyphicon glyphicon-play-circle btn btn-lg btn-primary" >Play</button></a>    Rihanna -Love the Way You Lie mp3/320kbs ultra hd</div>
        </div>

        <div class='row'>
          <div class='col-lg-4' id='col1'> <h5>(.) Song Title:Love the way you lie<br><br>
                                               (.) Released  :June 25 2010<br><br>
                                               (.) Genre     :Hiphop<br><br>
                                               (.) Length    : 4:23 mins<br><br>
                                               (.) Writer(s) :Eminem,Alex da kid ,skylar Grey                           </h5></div>
          <div class='col-lg-8' id='col2'><a href="/lovet" ><button type='button' class=" glyphicon glyphicon-play-circle btn btn-lg btn-primary">Play</button> </a>    Rihanna -Love the Way You Lie mp3/320kbs ultra hd</div>
        </div>
      </div>















     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </body>
</html>
