<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href="/artiststyle.css" type='text/css'>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class='container-fluid'>
        <div class='navbar-header'>
          <a class=" navbar-brand"href='/'>LIVEIT</a>
        </div>

        <ul class="nav navbar-nav">

          <li><a href="" class="">contact</a></li>
        </ul>
      </div>
    </nav>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-lg-4' id='col1'> <h5>(.) Song Title:Convict<br><br>
                                               (.) Released  :August 28,2015<br><br>
                                               (.) Genre     :Pop.tropical house<br><br>
                                               (.) Length    :3:26 mins<br><br>
                                               (.) Writer(s) :Justin bieber,Jason ,Mason Levy                         </h5></div>
          <div class='col-lg-8' id='col2'><a href='/what'><button type='button' class="btn btn-lg btn-primary glyphicon glyphicon-play-circle">Play</button> </a>   Justin bieber -What Do You Mean mp3/320kbs ultra hd</div>
        </div>

        <div class='row'>
          <div class='col-lg-4' id='col1'> </div>
          <div class='col-lg-8' id='col2'><button type='button' class="btn btn-lg btn-primary glyphicon glyphicon-play-circle"><a href='/lovet'></a>Play</button>     Rihanna -Love the Way You Lie mp3/320kbs ultra hd</div>
        </div>

        <div class='row'>
          <div class='col-lg-4' id='col1'> </div>
          <div class='col-lg-8' id='col2'><button type='button' class="btn btn-lg btn-primary glyphicon glyphicon-play-circle"><a href='/lovet'></a>Play</button>     Rihanna -Love the Way You Lie mp3/320kbs ultra hd</div>
        </div>
      </div>















     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </body>
</html>
