<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Premium-On the Way</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type='text/css' href='/premiumstyle.css' >
  </head>
  <body>
<div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class='container-fluid'>
            <div class='navbar-header'>
              <a class=" navbar-brand"href='/'>LIVEIT</a>
            </div>

            <ul class="nav navbar-nav">
              <li><a href="/contact" class="">Contact</a></li>
            </ul>
          </div>
        </nav>
</div>










       <div class='text'>
         <h1>Premium - LIVEIT !! Completely FREE !! No Credit Card required! </h1>
         <h2>Welcome to the Premium Features of LIVeIt </h2>
         <h3>LIVeIt is a Music streaming user friendly application.But it also aims to serve it's nation and the needy people, so it started  Encouraging it's Users to join hands with it to help the needy ones.</h3>
        <h3>So Avail our Premium Features At Absolutely Zero Cost While you upload your NSS camp certifications along with photos</h3>
         <h3>You can work with any Officially Registered NSS organisations and on completion of the Programe ,you can upload the Photo copy of your certificate of participation along with photos of your work</h3>
         <h3>LiveIt uses all documents submitted by the users only for verification and the Details of the Users are stored highly confidential and it abides by the Norms  listed under the sections by the Supreme court India</h3>
       </div>

       <div id='btn'>
          <button type='button' class='btn btn-lg btn-primary' data-toggle='modal' data-target='#myModal'>Go Premium </button>
       </div>

       <div id='myModal' class="modal fade" dialog="role">
         <div class='modal-dialog'>
           <div class="modal-content">
             <div class="modal-header">
               <button class='close' data-dismiss='modal'>&times;</button>
                  <h4>Premium</h4>
                  <div class='modal-body'>
                     <h4>Submit your Certificates here</h4>
                    <form action='/upload' method='post' enctype='multipart/form-data'>
                      <input type='file' name='myfile' id='file' required>
                      <h4>Submit your photos here</h4>
                      <input type='file' name='myfile' id='file' required> <br><br>
                      <button type='submit' class='btn btn-lg btn-primary'>Submit Docs</button>

                    </form>
                    </div>
                  </div>
                </div>
              </div>




       </div>




       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </body>
</html>
