<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thanks</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href='/thanksstyle.css'>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class='container-fluid'>
        <div class='navbar-header'>
          <a class=" navbar-brand"href='/'>LIVEIT</a>
        </div>

        <ul class="nav navbar-nav">
          <li><a href="/contact" class="">Contact</a></li>
        </ul>
      </div>
    </nav>


    <h1>Thanks for subscribing to our Premium Features</h1>
    <h1>Your Submitted Docs will be verified by our professionals and your access to  Premium features will be available after 24 hours </h1>

   <div class='button'>
     <a href="/"<button class='btn btn-lg btn-primary'>Back To Web Player</button>
   </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </body>
</html>
