<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UserDesk</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link type='text/css' rel='stylesheet' href='/userdstyle.css' />
  </head>
  <body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class='container-fluid'>
        <div class='navbar-header'>
          <a class=" navbar-brand"href='/'>LIVEIT</a>
        </div>

        <ul class="nav navbar-nav">
          <li><a href="/" class="">Contact</a></li>
        </ul>
      </div>
    </nav>



<div class="intro">
  <h1 class='text'>Hola <%=data[0].username %> <h3 style="color:white">Experience the Awesome Music Player on Web </h3>.</h1>
</div>




          <div class="row">
              <div class='column'>  <a href="rihanna"><img class='singers' id='rihanna' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRARZRBBu8AjWKAYcFaod5h_fF8tsy2eUlisswbLUlXLRr8jqtgYA'> </a></div>
              <div class='column'>  <a href="zayn"><img class='singers' id='zayn' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf2ipBHlfYEW9FePkboFJDqcpl4cRQLNhLAbP01VoTm9aEYS2C"></a></div>
              <div class='column'> <a href="akon"><img class='singers' id='akon' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSszetkP7IoCc9m7Tx0KFZkYzPvPJ_R-mKF69jOy7to0EuXEVOgvw'></a></div>
              <div class='column'>  <a href="snake"><img class='singers' id='snake' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR592l2cWv2oe9g0nlfRJV1imBAzM7mJIDm7nxzhpshHRGLG_N_pQ"></a></div>
         </div>


          <div class='row'>
          <div class='column'>  <a href="eminem"><img class='singers' id='eminem' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRdZCArWEXRkOhmt4sYgMmaHENajjLW7UcPZN7hR3aXFfIkakbzg'></a></div>
          <div class='column'>  <a href="taylor"><img class='singers' id='taylor' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjl0f6t_vCCFys7h4O78mognDTcuS807FQjH06UT1kDp8nYZEB-A"></a></div>
          <div class='column'>  <a href="katy"><img class='singers' id='katy' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKvlU5oysCbu2TY47aBCOvxS5GcP_1F69Y0dACAo6Aut_NdDxmWQ '></a></div>
          <div class='column'>  <a href="sam"><img class='singers' id='sam' src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7y9ENjd48UeYbrz3zPLss-MGRx7DWf-TcVtrxoHPUQ1fwP3Lm"></a></div>
         </div>

          <div class='row'>
          <div class='column'> <a href="jb"><img class='singers' id='jb' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY5_ijc1ainKGwepQg2R8sWHNQ9scmEb3nllpWRAa2THgnI4NCog'></a></div>
          <div class='column'> <a href="jlopez"><img class='singers' id='jlopez' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIv3UoaKs1M0WGQ6yMFvHwPht5ID-tqypyQ5uAgXPwXxM4oRADUQ"></a></div>
          <div class='column'> <a href="/adele"><img class='singers' id='adele' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrXnol7h4K6D7LRKLZ2h29dtYKXXfeg9wHf_wonBLVTfB28jlW'></a></div>
          <div class='column'> <a href="/lgaga"><img class='singers' id='lgaga' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7ZO6vzOD3KhhbXxgX8fWBKKdj4YrODCUQ76qxQ-EuS8F5-rSINQ"></a></div>
        </div>


          <div class='row'>
        <div class='column'>  <a href="/selena"><img class='singers' id='selena' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNPy0uprdbfk0x740QlElfc7oi60w3nG4JggQgOtXRKDJ0kBlN'></a></div>
        <div class='column'>  <a href="/mj"><img class='singers' id='mj' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMlvq8qAD9fP1j6QxJSFj0f-Khmt_PKLWZGWhy2yuty-groIDN"></a></div>
        <div class='column'>  <a href="/ed"><img class='singers' id='ed' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXDnNp3zdM9S03Hh06JxJmBj0CH-VrUC0eSZXm4UrVYsTLmm3s'></a></div>
        <div class='column'>  <a href="/bruno"><img class='singers' id='bruno' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo-rMzZQ3lziHQbRZ4N9n4BHXYBZLaM4dUpZq_jwz75QB11-8C"></a></div>
        </div>


          <div class='row'>
        <div class='column'>  <a href="/drake"><img class='singers' id='drake' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrf13MQEZTDo4JvdyS2d5NVOXgHZUNrcrWp7qebcVDwqHkFnWubQ'></a></div>
        <div class='column'>  <a href="/alan"><img class='singers' id='alan' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFJe9u8SjpKsz_Sy0NeUDAol9nxQ1sQv1kGin5FLBx2_zfilXptw"></a></div>
        <div class='column'>  <a href="/shawn"><img class='singers' id='shawn' src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCq_km1Aj8-tmT4JJVSbJjoLWKH6OCkbVUjCjQ8oObhUOSXuDO'></a></div>
        <div class='column'>  <a href="/camila"><img class='singers' id='camila' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCt9crLFJsyKxcZAB9fJt69-Y0ck_OjIPL5GE_hehF2okPUUHe"></a></div>
        </div>




<div class='space'>
</div>

<div class='bottom'>
  <h3 class='btm-text'>With LiveIt you can share your Favourite Artist, songs to your Closed Ones on almost every Social media including whatsapp, facebook , Instagram , Twitter and many more !</h3>
  <h5 class='btm-text'>*LiveIt has started it services recently, so More collections of Songs are yet to come</h5>
  <h4> Play with your Music </h4>
</div>









   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </body>
</html>
