.mid{

  height:800px;

  background-image:url('https://images.unsplash.com/photo-1516450360452-9312f5e86fc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
background-repeat:no-repeat;
background-size:cover;
background-position:center;


}

.bottom{
  background-color:rgba(0,0,0,0.8);
  height:400px;
  width:100%;
  padding-top:100px;
}

.fa{
  font-size:30px;
  float:right;
  padding-right:32px;
  color:lightblue;
}

.fa:hover{
  cursor:pointer;
  color:white;
}

.text{
  color:white;
}

.signup{
  padding-left:50px;
}

.login{
  padding-left:50px;
}



#welcome1{
  padding-top:250px;
  color:white;
  font-size:48px;
  font-style:bold;
}

#welcome2{
  padding-top:80px;
  color:white;
  font-size:38px;
  font-style:italic;
}

h4{
  color:white;
  padding-left:20px;
}
